@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --complete-color: rgb(243, 15, 110);
  --incomplete-color: rgb(60, 162, 224);
  --complementary-color: rgb(243, 197, 15);
  --complementary-color-readable: rgb(207, 169, 17);
  --heading-color: #36454f;
  --background-color: hsl(184, 15%, 80%);
  --navbar-color: #383a3b;
  --navbar-font-color: rgb(247, 247, 247);
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background: var(--background-color);
  font-family: 'Rubik', sans-serif;
}

.display-container {
  display: flex;
  /* height: 80vh; */
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

main {
  padding-bottom: 2.5rem;
}

h1 {
  color: var(--heading-color);
  font-size: 4rem;
}

.content-body a,
.content-body a:visited,
.content-body a:active,
.footer a,
.footer a:visited,
.footer a:active {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.content-body a:hover {
  text-decoration: underline;
}
.footer a:hover {
  font-weight: bold;
}

/********** NAVBAR ***********/
/* Navbar styles guided by:
https://codesandbox.io/s/react-and-css-animated-responsive-navigation-bar-5h3v8?file=/src/Header.js */
nav {
  padding: 0 20px;
  min-height: 9vh;
  background: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 25px;
  color: var(--navbar-font-color);
}

nav ul {
  list-style: none;
  display: flex;
}

nav li:nth-child(2) {
  margin: 0px 1.5rem;
}

.nav-item {
  color: var(--navbar-font-color);
  padding: 0.5rem;
  text-decoration: none;
}

.active-nav-item {
  background-color: var(--incomplete-color);
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  nav ul {
    /* display: none; */
  }
}
/********** NAVBAR **********/

/********** MenuBar **********/
.menu-bar {
  display: flex;
  justify-content: space-between;
}

.menu-bar div {
  padding: 0.5rem 1rem;
}

.form-right {
  text-align: right;
}

button {
  padding: 0.25rem;
  margin: 0 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  color: var(--incomplete-color);
}

.form-field {
  height: 3rem;
  width: 3rem;
  font-size: 2.5rem;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: 0;
  transition: 0.2s;
  color: var(--complementary-color);
}

.form-field:focus {
  border-color: #0f7ef1;
}

.complete-total {
  display: inline-block;
  font-size: 2.5rem;
  width: 4rem;
  text-align: center;
  color: var(--complete-color);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**********^^^ MenuBar ^^^**********/

.complete-span {
  color: var(--complete-color);
}
.total-span {
  color: var(--complementary-color-readable);
}
.percent-span {
  color: var(--incomplete-color);
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
}

.content-body h2 p {
  margin: auto;
}

.footer {
  color: rgba(60, 162, 224, 1.1);
  background-color: #383a3b;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 0.25rem 0;
}

.footer p {
}

/*** Styling Circle items ***/

.circle {
  height: 10rem;
  width: 10rem;
  background-color: var(--incomplete-color);
  color: rgb(247, 247, 247);
  border-radius: 50%;
  margin: 2rem 2rem;
  text-align: center;
  line-height: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  user-select: none;
  animation: circles 4s ease-in-out infinite;
}

.circle:hover {
  background-color: rgba(​ 135, ​ 206, ​ 250, 1.05);
  transform: scale(1.1);
  cursor: pointer;
  animation: circles-hover 1s ease-in-out 1;
  animation-play-state: paused;
}

.circle:active {
  transform: scale(1.05);
}

.complete {
  background-color: var(--complete-color);
  color: rgba(247, 247, 247, 0.9);
  font-style: italic;
}

@keyframes circles {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-2rem) rotate(4deg);
  }
}

@keyframes circles-hover {
  100% {
    transform: scale(1.1);
  }
}

.balloon {
  display: inline-block;
  width: 120px;
  height: 145px;
  background: hsl(215, 50%, 65%);
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  transition: transform 0.5s ease;
  z-index: 10;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
}

button.balloon:focus {
  outline: 0;
}

button.balloon:active {
  transform: scale(0.9);
}

button.balloon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

.balloon:before {
  content: '▲';
  font-size: 20px;
  color: hsl(215, 30%, 50%);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.balloon:after {
  display: inline-block;
  top: 153px;
  position: absolute;
  height: 250px;
  width: 1px;
  margin: 0 auto;
  content: '';
  background: rgba(0, 0, 0, 0.2);
}

.balloon:nth-child(2) {
  background: hsl(245, 40%, 65%);
  animation-duration: 3.5s;
}
.balloon:nth-child(2):before {
  color: hsl(245, 40%, 65%);
}

.balloon:nth-child(3) {
  background: hsl(139, 50%, 60%);
  animation-duration: 3s;
}
.balloon:nth-child(3):before {
  color: hsl(139, 30%, 50%);
}

.balloon:nth-child(4) {
  background: hsl(59, 50%, 58%);
  animation-duration: 4.5s;
}
.balloon:nth-child(4):before {
  color: hsl(59, 30%, 52%);
}

.balloon:nth-child(5) {
  background: hsl(23, 55%, 57%);
  animation-duration: 5s;
}
.balloon:nth-child(5):before {
  color: hsl(23, 44%, 46%);
}
