.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

nav h1 {
  margin: 0;
  padding: 0;
}

main {
  padding-bottom: 2.5rem;
}

nav {
  background-color: gray;
}

nav li {
  list-style-type: none;
}

.nav-item {
  color: goldenrod;
  background-color: #61dafb;
}

.active-nav-item {
  background-color: hotpink;
}

button {
  padding: 0.25rem;
  margin: 0.5rem;
}

.footer {
  color: yellow;
  background-color: skyblue;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
