.App {
  text-align: center;
}

nav {
  background-color: gray;
}

nav li {
  list-style-type: none;
}

.nav-item {
  color: goldenrod;
  background-color: #61dafb;
}

/* .active-nav-item:active {
  background-color: hotpink;
} */

.active-nav-item {
  background-color: hotpink;
}
